@font-face{
  font-family: "AlphaTalk";
  src: url(fonts/alpha.ttf);
}

@font-face {
  font-family: "FDTalk";
  src: url(fonts/fd.ttf);
}

body, html{
  height: 100%;
  margin: 0;
  height: 100vh;
}

* {
  box-sizing: border-box;
}
#anim {
  background: linear-gradient(180deg, #ffa500, #00daff);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 42s ease infinite;
  -moz-animation: AnimationName 42s ease infinite;
  -o-animation: AnimationName 42s ease infinite;
  animation: AnimationName 42s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:81% 0%}
  50%{background-position:20% 100%}
  100%{background-position:81% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:81% 0%}
  50%{background-position:20% 100%}
  100%{background-position:81% 0%}
}
@-o-keyframes AnimationName {
  0%{background-position:81% 0%}
  50%{background-position:20% 100%}
  100%{background-position:81% 0%}
}
@keyframes AnimationName {
  0%{background-position:81% 0%}
  50%{background-position:20% 100%}
  100%{background-position:81% 0%}
}
/*#anim{*/
/*  background: orange;*/
/*}*/

#title{
  background: orange;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  background: orange;
  color: white;
  font-family: FDTalk;
}

.fdeye{
  width:15%;
}

section{
  border: 5px double #ffffff;
}

.fd{
  font-size: 1.5vw;
  text-align: center;
}

h1{
  font-size: 2.5vw;
  text-align: center;
}

.fdpic{
  width:45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li a {
  float: left;
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  text-align: center;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

::-moz-selection {
  background: white;
  text-shadow: none;
}

::selection {
  background: #00ffff;
  color: black;
  text-shadow: none
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column1 {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

div{
  text-align: center;
}

ol{
  list-style-type: none;
}